* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: open sans;
}
nav {
  width: 100%;
  height: 80px;
  background-color: lightsalmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 0px 8px;
  list-style: none;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
nav ul li a:hover {
  background-color: #fff;
  color: lightgray;
  transition: 0.5s ease;
}
nav ul li a.active {
  background-color: #fff;
  color: lightgray;
}


.logo {
  font-size: 40px;
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700px;
}

